<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="captainfanatic.bites">
    <application android:icon="@drawable/bites_icon">

	<provider android:name="Provider"
		android:authorities="captainfanatic.bites.Provider" />

        <activity android:name=".Main" android:label="Bites">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<activity android:name=".InventoryList" android:label="Inventory">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.inventory" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.PICK" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.inventory" />
		</intent-filter>
	</activity>

	<activity android:name=".InventoryEdit" android:label="Inventory Edit">
		<intent-filter>
			<action android:name="android.intent.action.INSERT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.inventory" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.EDIT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/vnd.captainfanatic.inventory" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.DELETE" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/vnd.captainfanatic.inventory" />
		</intent-filter>
	</activity>

	<activity android:name=".RecipeList" android:label="Recipes">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.recipes" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.PICK" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.recipes" />
		</intent-filter>
	</activity>

	<activity android:name=".RecipeEdit" android:label="Recipe">
		<intent-filter>
			<action android:name="android.intent.action.INSERT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.recipes" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<action android:name="android.intent.action.EDIT" />
			<action android:name="android.intent.action.RUN" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/vnd.captainfanatic.recipes" />
		</intent-filter>
	</activity>

	<activity android:name=".RecipeIngredientAdd" android:label="Add Recipe Ingredient">
		<intent-filter>
			<action android:name="android.intent.action.INSERT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.recipeingredientsview" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.EDIT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/vnd.captainfanatic.recipeingredientsview" />
		</intent-filter>
	</activity>
	
	<activity android:name=".RecipeMethodEdit" android:label="Edit Method Step">
		<intent-filter>
			<action android:name="android.intent.action.INSERT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.recipemethod" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.EDIT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/vnd.captainfanatic.recipemethod" />
		</intent-filter>
	</activity>
	
	<activity android:name=".ShoppingList" android:label="Shopping List">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.shoppinglist" />
		</intent-filter>
	</activity>

	<activity android:name=".MealPlannerList" android:label="Meal Planner">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.mealplanner" />
		</intent-filter>
	</activity>

	<activity android:name=".MealPlannerEdit" android:label="Meal Planner Edit">
		<intent-filter>
			<action android:name="android.intent.action.INSERT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.captainfanatic.mealplanner" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.EDIT" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/vnd.captainfanatic.mealplanner" />
		</intent-filter>
	</activity>

    </application>
</manifest> 
